<h1 class="text-center">Registration</h1>
<div class="form-horizontal justify-content-center">
    <hr />
<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="form-group">
        <label for="email"><span>Email</span>*</label>
        <div>
            <input type="text" placeholder="Enter Email" formControlName="email">
            <span *ngIf="email?.invalid" class="text-danger">Email is incorrect</span>
        </div>
    </div>

    <div class="form-group">
        <label for="password"><span>Password</span>*</label>
        <div>
            <input type="password" placeholder="Enter Password" formControlName="Password">
            <span *ngIf="Password?.invalid" class="text-danger">Password is incorrect</span>
        </div>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword"><span>Confirm Password</span>*</label>
        <div>
            <input type="password" placeholder="Confirm Password" formControlName="PasswordConfirm">
            <span class="text-danger" *ngIf="registerForm.errors?.['isNotEqual'] && (registerForm?.touched || registerForm?.dirty)">Password and confirm password must be the same</span>
        </div>
    </div>

    <div class="form-group">
        <label for="Year"><span>Year</span></label>
        <div>
            <input type="text" placeholder="Enter Year" formControlName="year">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            <input type="submit" value="Register" class="btn btn-default" [disabled]="registerForm.invalid"/>
        </div>
    </div>

</form>
</div>