<h1 class="text-center">Registration</h1>
<div class="form-horizontal justify-content-center">
    <hr />
<form action="">
    <div class="form-group">
        <label for="email"><span>Email</span></label>
        <div class="col-md-10">
            <input type="text" placeholder="Enter Email" name="email" required>

        </div>
    </div>

    <div class="form-group">
        <label for="password"><span>Password</span></label>
        <div class="col-md-10">
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword"><span>Confirm Password</span></label>
        <div class="col-md-10">
            <input type="password" placeholder="Confirm Password" name="ConfirmPassword" required>
        </div>
    </div>

    <div class="form-group">
        <label for="Year"><span>Year</span></label>
        <div class="col-md-10">
            <input type="text" placeholder="Enter Year" name="year" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register" class="btn btn-default" />
        </div>
    </div>

</form>
</div>